 <h2>Person Form</h2>
  <form method="post" novalidate>
    {% csrf_token %}
    <table>
      {{ form.as_p }}
    </table>
    <button type="submit">Save</button>
  </form>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js">
</script>
<script>
$(document).ready(function(){
  $("#id_state").change(function(){ var state_id = $(this).val();
    $.ajax({
            url: '/music/ajax/',
            type: 'GET',
            dataType: 'json',
            data: {state_id: state_id},
             error: function (xhr, status, error) {
    },
    success: function (response) { var ID="#id_city";
      var rooms = response["rooms"];
      $(ID).empty();
      var q=rooms.length;
      console.log(q);
      $(ID).append('<option>Select city</option>');
      for(var i=0; i< rooms.length; i++){ 
        $(ID).append($('<option>', {
                    value: rooms[i],
                    text: rooms[i]
                }));

      }
    }
  });
  });
});
</script>
